---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
---

<MainLayout title="Hold dig opdateret">
  <div class="flex flex-col md:flex-row min-h-screen">
    <!-- Left Section -->
    <div class="bg-blue-900 text-neutral-50 md:px-xl md:py-sm px-sm py-md max-w-[700px] h-auto">
      <div class="w-full md:pt-4xl pt-xl px-xs">
        <h1 class="flex w-full font-display text-neutral-50">Vær opdateret – Højskole i Udlandet</h1>
      </div>
      <div class="px-xs md:px-0">
        <p class="mt-4 text-neutral-50">
          Overvejer du at tilmelde dig et af vores højskoleophold i udlandet? Så kan det være en god idé at reservere en plads:
        </p>
        <ul class="list-disc list-inside mb-6">
          <li class="text-neutral-50">Gratis og uforpligtende</li>
          <li class="text-neutral-50">Modtag nyheder om afgangen, som f.eks. "Få pladser", og hør fra os inden udsolgt</li>
          <li class="text-neutral-50">Pladsen er sikret først ved tilmelding og betaling af depositum (3.000 DKK)</li>
        </ul>
        <p class="font-bold mb-4 text-neutral-50">
          VIGTIGT: <span class="font-regular"
            >En reservation garanterer ikke en plads. Vi modtager flere reservationer, end der er pladser. For at sikre dig en plads skal du tilmelde
            dig og betale depositum.</span
          >
        </p>
        <p class="mb-6 text-neutral-50">
          Er en afgang udsolgt? Du kan stadig komme på venteliste ved at tilmelde dig. For at reservere en plads skal du blot udfylde vores formular.
          Vi bekræfter din reservation hurtigst muligt – normalt inden for 24 timer. Husk, at din reservation først er gyldig, når du har modtaget en
          bekræftelse på mail.
        </p>
      </div>
    </div>

    <!-- Right Section -->
    <div class="bg-neutral-50 md:py-sm py-sm mx-auto">
      <form action="#" method="POST" class="space-y-6 w-full lg:py-sm md:px-3xl px-sm">
        <h1 class="flex justify-center w-full pt-sm text-gray-950 md:pt-3xl">Hold dig opdateret</h1>
        <!-- Dropdown -->
        <div>
          <div class="md:pt-10 pt-8 py-2">
            <label for="destination" class="font-semibold text-h3-mobile text-gray-950">Højskoleophold<span class="text-orange-700">*</span></label>
          </div>
          <select
            id="destination"
            class="w-full border bg-neutral-100 border-neutral-100 p-2 rounded-[5px] text-neutral-600"
            required
            onchange="this.className = this.value ? 'w-full border bg-neutral-100 border-neutral-100 p-2 rounded-[5px] text-gray-950' : 'w-full border border-neutral-100 p-2 rounded-[5px]'"
          >
            <option value="" disabled selected hidden>Vælg ønsket destination</option>
            <option value="Vælg ønsket destination her*">Vælg ønsket destination her*</option>
            <option value="sweden">Caribien, Hawaii & Mexico</option>
            <option value="usa">Costa Rica, Mexico & Colombia</option>
            <option value="sweden">Australien, New Zealand, Bali & Gili</option>
            <option value="usa">Indien, Nepal, Thailand, Vietnam & Sri Lanka</option>
            <option value="usa">Hawaii, Australien, Japan, Bali & Gili Islands</option>
            <option value="sweden">Maldiverne, Sri Lanka, Bali & Gili Islands</option>
            <option value="usa">Brasilien, Bolivia & Colombia</option>
            <option value="usa">Ecuador, Peru & Argentina</option>
            <option value="usa">Australien, Japan, Bali & Gili Islands</option>
            <option value="usa">Bali, Lombok & Gili (sommerhøjskole)</option>
          </select>
        </div>

        <!-- Contact Info -->

        <div>
          <div class="pt-xs pb-xxs">
            <label for="name" class="font-semibold text-h3-mobile text-gray-950">Kontaktinformation</label>
          </div>
          <label for="name" class="block font-regular mb-2 text-gray-950">Fulde navn<span class="text-orange-700">*</span></label>
          <input
            type="text"
            id="name"
            class="w-full border bg-neutral-100 border-neutral-100 p-2 rounded-[5px] placeholder:text-neutral-600"
            placeholder="Børge Møller Hansen"
            required
          />
        </div>

        <div>
          <label for="gender" class="block font-regular mb-2 text-gray-950"
            >Vælg køn <span class="font-semibold">(som det fremgår i dit pas)</span></label
          >
          <select
            id="gender"
            class="w-full border bg-neutral-100 border-neutral-100 p-2 rounded-[5px] text-neutral-600"
            required
            onchange="this.className = this.value ? 'w-full border bg-neutral-100 border-neutral-100 p-2 rounded-[5px] text-gray-950' : 'w-full border border-neutral-100 p-2 rounded-[5px]'"
          >
            <option value="" disabled selected hidden>Mand</option>
            <option>Mand</option>
            <option>Kvinde</option>
            <option>Andet</option>
            <option>Ønsker ikke at angive</option>
          </select>
        </div>

        <div class="flex flex-wrap gap-4">
          <div class="flex-1 min-w-[200px]">
            <label for="phone" class="block font-regular mb-2 text-gray-950">Tlf. nr.<span class="text-orange-700">*</span></label>
            <input
              type="tel"
              id="phone"
              class="w-full border bg-neutral-100 border-neutral-100 p-2 rounded-[5px] placeholder:text-neutral-600"
              placeholder="+45 11 22 33 44"
              required
            />
          </div>

          <div class="flex-1 min-w-[200px]">
            <label for="email" class="block font-regular mb-2 text-gray-950">Email<span class="text-orange-700">*</span></label>
            <input
              type="email"
              id="email"
              class="input w-full border bg-neutral-100 border-neutral-100 p-2 rounded-[5px] placeholder:text-neutral-600"
              placeholder="boerge.m.hansen@gmail.com"
              required
            />
          </div>
        </div>

        <!-- Remarks -->
        <div>
          <div class="pt-xs pb-xxs">
            <label for="remarks" class="font-semibold text-h3-mobile text-gray-950">Bemærkning(er)</label>
          </div>
          <textarea
            rows="8"
            id="remarks"
            class="w-full border bg-neutral-100 border-neutral-100 p-2 rounded-[5px] text-neutral-600 placeholder:text-neutral-600 text-left align-top"
            placeholder="Evt. forhold der skal tages hensyn til"></textarea>
          <div class="pt-xxs">
            <p class="text-orange-700">* Disse felter skal udfyldes/vælges</p>
          </div>
        </div>

        <!-- Checkbox Fields -->
        <div>
          <label class="flex items-start space-x-2">
            <input type="checkbox" required class="mt-2 rounded-[5px]" />
            <p class="text-gray-950">
              Jeg har læst jeres <a href="#" class="text-blue-700 underline">privatlivspolitik</a> og <a href="#" class="text-blue-700 underline"
                >generelle bestemmelser</a
              > og er indforstået med begge<span class="text-blue-700">*</span>
            </p>
          </label>
        </div>

        <div>
          <label class="flex items-start space-x-2">
            <input type="checkbox" class="mt-2 rounded-[5px]" />
            <p>Ja tak – send mig jeres brochure</p>
          </label>
        </div>

        <!-- Submit Button -->
        <div class="flex justify-center pt-[30px]">
          <Button variant="primary" size="sm:xsmall md:medium">Tilmeld infobrev</Button>
        </div>
      </form>
      <div class="md:p-lg p-xs"></div>
    </div>
  </div>

  <style>
    input[type="text"]::placeholder {
      color: #888888; /* neutral-600 */
    }

    input[type="text"] {
      color: #363636; /* neutral-950 */
    }
  </style>
</MainLayout>
