---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
---

<MainLayout title="Tilmeld">
  <section class="w-full mx-auto p-6 bg-blue-900 md:hidden">
    <div class="max-w-7xl mx-auto p-s grid md:grid-cols-12 gap-s md:hidden">
      <!------------------------------- Mobil accordion------------------------------->
      <div id="accordion-color" data-accordion="collapse" data-active-classes="bg-orange-500 text-neutral-50" class="md:hidden block">
        <div class="rounded-lg bg-white">
          <h3 id="accordion-color-heading-1">
            <button type="button" class="question-btn flex justify-between w-full p-s text-neutral-50 rounded-t-sm bg-orange-700 text-left border-b border-orange-500" data-toggle="answer-1" aria-expanded="false" aria-controls="accordion-color-body-1">
              <span>Tilmeld dig drømmerejsen</span>
              <svg data-accordion-icon class="w-s h-s rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"></path>
              </svg>
            </button>
          </h3>
          <div id="answer-1" class="hidden bg-neutral-100" aria-labelledby="accordion-color-heading-1">
            <div class="p-s">
              <div class="flex w-full items-center pb-xxs gap-xxs">
                <img src="/ikon1-form.webp" alt="ikon" class="w-[40px]" />
                <h3>TILMELD DIG DIN DRØMMEREJSE</h3>
              </div>
              <p class="text-p-mobile">Vælg højskoleophold og udfyld tilmeldingsskemaet. Du modtager en e-mail med bekræftelse, første infobrev og en faktura på depositum. Din plads er sikret, når depositum er betalt.</p>
            </div>
          </div>

          <h3 id="accordion-color-heading-2">
            <button type="button" class="question-btn flex justify-between w-full p-s text-neutral-50 bg-orange-700 text-left border-b border-orange-500" data-toggle="answer-2" aria-expanded="false" aria-controls="accordion-color-body-2">
              <span>Infobrev og depositum</span>
              <svg data-accordion-icon class="w-s h-s rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"></path>
              </svg>
            </button>
          </h3>
          <div id="answer-2" class="hidden bg-neutral-100" aria-labelledby="accordion-color-heading-2">
            <div class="p-s">
              <div class="flex w-full items-center pb-xxs gap-xxs">
                <img src="/ikon2-form.webp" alt="ikon" class="w-[40px]" />
                <h3>INFOBREV OG FAKTURA PÅ DEPOSITUM</h3>
              </div>
              <p class="pb-xxs">Efter tilmelding får du en e-mail med bekræftelse, infobrev #1 og faktura på depositum (3.000 DKK). Når det er betalt, er din plads sikret.</p>
              <p>Ca. 5 uger før afrejse afholdes et møde, og du modtager i alt 3 infobreve med al info om rejsen. Vi sender også mails om rejseforsikring og praktiske detaljer frem til afrejse.</p>
            </div>
          </div>

          <h3 id="accordion-color-heading-3">
            <button type="button" class="question-btn flex justify-between w-full p-s text-neutral-50 bg-orange-700 text-left border-b border-orange-500" data-toggle="answer-3" aria-expanded="false" aria-controls="accordion-color-body-3">
              <span>Inkluderet</span>
              <svg data-accordion-icon class="w-s h-s rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"></path>
              </svg>
            </button>
          </h3>
          <div id="answer-3" class="hidden bg-neutral-100" aria-labelledby="accordion-color-heading-3">
            <div class="p-s">
              <div class="flex w-full items-center pb-xxs gap-xxs">
                <img src="/ikon3-form.webp" alt="ikon" class="w-[40px]" />
                <h3>VI PLANTER TRÆER</h3>
              </div>
              <p class="pb-xxs">For hver elev på vores højskoleophold planter vi 50 træer i samarbejde med nonprofitorganisationen ‘Trees for the Future’.</p>
              <p class="pb-xxs">Initiativet klimakompenserer din rejse og bidrager til en bæredygtig fremtid ved at hjælpe lokale farmere i Afrika med at blive selvforsynende – og dermed bekæmpe fattigdom og hungersnød.</p>
              <a href="#" class="text-orange-700 font-bold">Læs mere om ‘Trees for the Future’ her!</a>
            </div>
          </div>

          <h3 id="accordion-color-heading-4">
            <button type="button" class="question-btn flex justify-between w-full p-s text-neutral-50 rounded-b-sm bg-orange-700 text-left" data-toggle="answer-4" aria-expanded="false" aria-controls="accordion-color-body-4">
              <span>MØD REJSEKAMMERATER</span>
              <svg data-accordion-icon class="w-s h-s rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"></path>
              </svg>
            </button>
          </h3>
          <div id="answer-4" class="hidden bg-neutral-100" aria-labelledby="accordion-color-heading-4">
            <div class="p-s">
              <div class="flex w-full items-center pb-xxs gap-xxs">
                <img src="/ikon4-form.webp" alt="ikon" class="w-[40px]" />
                <h3>MØD REJSEKAMMERATER</h3>
              </div>
              <p class="pb-xxs">Ca. 5 uger før afrejse afholder vi et *Afrejsemøde*, hvor du møder dine medrejsende og rejselederen.</p>
              <p>Vi gennemgår pakkeliste, destinationer, undervisning, fritidsaktiviteter og rejsetips, og der er tid til spørgsmål. Mødet afsluttes med mad og højskolehygge. Vi glæder os til at møde dig!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!------------------------------- Mobil form------------------------------->
  <section class="md:hidden">
    <section>
      <form class="flex flex-col w-full px-s">
        <h1 class="flex justify-center mx-auto w-full font-display pt-m text-h2-mobile md:text-h2-desktop">Tilmeld dig ophold</h1>

        <div class="flex flex-col pt-10 py-2">
          <label for="Højskoleophold" class="font-semibold pb-xxs text-h3-mobile">Højskoleophold</label>
          <select id="Højskoleophold" name="Højskoleophold" aria-placeholder="Vælg ønsket destination her*" class="w-full px-xs py-xxs border-[0px] text-neutral-600 bg-gray-100 rounded-[5px] md:rounded-sm">
            <option value="Vælg ønsket destination her*">Vælg ønsket destination her*</option>
            <option value="sweden">Caribien, Hawaii & Mexico</option>
            <option value="usa">Costa Rica, Mexico & Colombia</option>
            <option value="sweden">Australien, New Zealand, Bali & Gili</option>
            <option value="usa">Indien, Nepal, Thailand, Vietnam & Sri Lanka</option>
            <option value="usa">Hawaii, Australien, Japan, Bali & Gili Islands</option>
            <option value="sweden">Maldiverne, Sri Lanka, Bali & Gili Islands</option>
            <option value="usa">Brasilien, Bolivia & Colombia</option>
            <option value="usa">Ecuador, Peru & Argentina</option>
            <option value="usa">Australien, Japan, Bali & Gili Islands</option>
            <option value="usa">Bali, Lombok & Gili - Sommerhøjskole</option>
          </select>
        </div>

        <div class="flex flex-col pt-10 py-2">
          <label for="Kontaktinfo" class="font-semibold pb-xxxs text-h3-mobile">Kontaktinfo</label>
          <p class="text-orange-700">*Navn skal fremgå 100% som i dit pas og dit pas skal være gyldigt i 6 måneder efter hjemkomst*</p>

          <div class="pt-xs">
            <p class="pb-xxs">Fornavn(e) + evt. mellemnavn(e)</p>
            <input type="text" id="navn" name="navn" placeholder="Børge Møller" class="w-full px-xs py-xxs border-[0px] text-neutral-600 bg-gray-100 rounded-[5px] md:rounded-sm" />
          </div>
          <div class="pt-xs">
            <p class="pb-xxs">Efternavn</p>
            <input type="text" id="navn" name="navn" placeholder="Hansen" class="w-full px-xs py-xxs border-[0px] text-neutral-600 bg-gray-100 rounded-[5px] md:rounded-sm" />
          </div>
          <div class="pt-xs">
            <p class="pb-xxs">Adresse</p>
            <input type="text" id="adresse" name="adresse" placeholder="Rosenørns Alle 29" class="w-full px-xs py-xxs border-[0px] text-neutral-600 bg-gray-100 rounded-[5px] md:rounded-sm" />
          </div>
          <div class="pt-xs">
            <p class="pb-xxs">Postnummer</p>
            <input type="text" id="postnummer" name="postnummer" placeholder="1970" class="w-full px-xs py-xxs border-[0px] text-neutral-600 bg-gray-100 rounded-[5px] md:rounded-sm" />
          </div>
          <div class="pt-xs">
            <p class="pb-xxs">By</p>
            <input type="text" id="by" name="by" placeholder="Frederiksberg" class="w-full px-xs py-xxs border-[0px] text-neutral-600 bg-gray-100 rounded-[5px] md:rounded-sm" />
          </div>
          <div class="pt-xs">
            <p class="pb-xxs">Telefonnummer</p>
            <input type="text" id="Telefonnummer" name="Telefonnummer" placeholder="+45 11 22 33" class="w-full px-xs py-xxs border-[0px] text-neutral-600 bg-gray-100 rounded-[5px] md:rounded-sm" />
          </div>
          <div class="pt-xs">
            <p class="pb-xxs">E-mail</p>
            <input type="text" id="email" name="email" placeholder="boerge.m.hansen@gmail.com" class="w-full px-xs py-xxs border-[0px] text-neutral-600 bg-gray-100 rounded-[5px] md:rounded-sm" />
          </div>
          <div class="pt-xs">
            <p class="pb-xxs">Fødselsdato</p>
            <div class="flex flex-col gap-xs">
              <select id="Dato" name="Dato" class="w-full px-xs py-xxs border-[0px] text-neutral-600 bg-gray-100 rounded-[5px] md:rounded-sm">
                <option value="Dato">Dato</option>
                <option value="01">01</option>
                <option value="02">02</option>
                <option value="03">03</option>
              </select>
              <select id="Måned" name="Måned" class="w-full px-xs py-xxs border-[0px] text-neutral-600 bg-gray-100 rounded-[5px] md:rounded-sm">
                <option value="Måned">Måned</option>
                <option value="Januar">Januar</option>
                <option value="Februar">Februar</option>
                <option value="March">March</option>
              </select>
              <select id="År" name="År" class="w-full px-xs py-xxs border-[0px] text-neutral-600 bg-gray-100 rounded-[5px] md:rounded-sm">
                <option value="År">År</option>
                <option value="2024">2024</option>
                <option value="2023">2023</option>
                <option value="2022">2022</option>
              </select>
              <select id="Køn" name="Køn" class="w-full px-xs py-xxs border-[0px] text-neutral-600 bg-gray-100 rounded-[5px] md:rounded-sm">
                <option value="Køn">Køn</option>
                <option value="Kvinder">Kvinde</option>
                <option value="Mænd">Mand</option>
              </select>
            </div>
          </div>
        </div>
        <div class="flex flex-col pt-10 py-2">
          <label for="Højskoleophold" class="font-semibold pb-xxs text-h3-mobile">Hvordan hørte du om os?</label>
          <select id="Hvordan hørte du om os" name="Hvordan hørte du om os" aria-placeholder="Vælg en mulighed her*" class="w-full px-xs py-xxs border-[0px] text-neutral-600 bg-gray-100 rounded-[5px] md:rounded-sm">
            <option value="Vælg ønsket destination her*">Vælg en mulighed her*</option>
            <option value="Google">Google</option>
            <option value="Facebook">Facebook</option>
            <option value="Instagram">Instagram</option>
            <option value="TikTock">TikTock</option>
            <option value="Tiligere elever">Tiligere elever</option>
            <option value="Tilfældig surfing">Tilfærdig surfing</option>
            <option value="Ved ikke">Ved ikke</option>
          </select>
        </div>
        <div class="flex flex-col pt-10 py-2">
          <label for="Højskoleophold" class="font-semibold pb-xxs text-h3-mobile">Bemærkning</label>
          <input type="text" id="bemærkning" name="bemærkning" placeholder="Skriv dine ønsker  eller info her." class="w-full px-xs py-xxs border-[0px] text-neutral-600 bg-gray-100 rounded-[5px] md:rounded-sm" />
        </div>
        <div>
          <p class="text-orange-700">* Disse felter skal udfyldes/vælges</p>
          <div class="flex items-baseline gap-xxs pt-xs">
            <input type="checkbox" id="checkbox" name="checkbox" value="checkbox" />
            <label for="checkbox"> Jeg har sikret mig at ovenstående informationer er 100% korrekte. (tjek lige igen for en sikkerheds skyld)</label>
          </div>
          <div class="flex items-baseline gap-xxs pt-xs">
            <input type="checkbox" id="checkbox" name="checkbox" value="checkbox" />
            <label for="checkbox"> Jeg har læst jeres privatlivspolitik og generelle bestemmelser og er indforstået med begge<span class="text-orange-700">*</span></label>
          </div>
        </div>
        <div class="mx-auto justify-center items-center flex py-sm"><Button variant="primary" size="small" class="">Tilmeld dig infomødet!</Button></div>
      </form>
    </section>
  </section>
  <!------------------------------- Desktop form------------------------------->
  <section class="hidden md:grid md:grid-cols-2">
    <section class="ikon-section bg-blue-900 w-full">
      <div class="w-full px-s pt-4xl pl-xl pr-xl">
        <h1 class="flex w-full font-display pt-m text-h2-mobile text-neutral-50 md:text-h2-desktop">Tag første skridt mod dit højskoleeventyr!</h1>
      </div>
      <div class="flex flex-col gap-sm pl-xl pr-xl">
        <div class="pt-2xl">
          <div class="flex justify-center items-start gap-sm">
            <img src="/ikon1-form_hvid.webp" alt="ikon" class="w-2xl" />
            <div class="">
              <h1 class="text-h3-desktop text-neutral-50 pb-xs">TILMELD DIG DIN DRØMMEREJSE</h1>
              <p class="text-neutral-50">Vælg højskoleophold og udfyld tilmeldingsskemaet. Du modtager en e-mail med bekræftelse, det første infobrev og en faktura på depositum. Din plads er sikret, når depositum er betalt.</p>
            </div>
          </div>
          <div class="flex justify-center items-start gap-sm pt-2xl">
            <img src="/ikon2-form_hvid.webp" alt="ikon" class="w-2xl" />
            <div class="">
              <h1 class="text-h3-desktop text-neutral-50 pb-xs">INFOBREV OG FAKTURA PÅ DEPOSITUM</h1>
              <p class="text-neutral-50">Efter tilmelding får du en e-mail med bekræftelse, infobrev #1 og faktura på depositum (3.000 DKK). Når det er betalt, er din plads sikret.</p>
              <p class="pt-xs text-neutral-50">Ca. 5 uger før afrejse afholdes der et møde, og du modtager i alt 3 infobreve med al info om rejsen. Vi sender også mails om rejseforsikring og praktiske detaljer frem til afrejse.</p>
            </div>
          </div>
          <div class="flex justify-center items-start gap-sm pt-2xl">
            <img src="/ikon3-form_hvid.webp" alt="ikon" class="w-2xl" />
            <div class="">
              <h1 class="text-h3-desktop text-neutral-50 pb-xs">VI PLANTER TRÆER</h1>
              <p class="text-neutral-50">For hver elev på vores højskoleophold planter vi 50 træer i samarbejde med nonprofitorganisationen ‘Trees for the Future’.</p>
              <p class="pt-xs text-neutral-50">Initiativet klimakompenserer din rejse og bidrager til en bæredygtig fremtid ved at hjælpe lokale farmere i Afrika med at blive selvforsynende – og dermed bekæmpe fattigdom og hungersnød.</p>
              <div class="pt-xs">
                <Link variant="secondary" size="sm:xsmall md:medium" class="pt-s"> Læs mere om ‘Trees for the Future’ her!</Link>
              </div>
            </div>
          </div>
          <div class="flex justify-center items-start gap-sm pt-2xl">
            <img src="/ikon4-form_hvid.webp" alt="ikon" class="w-2xl" />
            <div class="">
              <h1 class="text-h3-desktop text-neutral-50 pb-xs">MØD REJSEKAMMERATER</h1>
              <p class="text-neutral-50">Ca. 5 uger før afrejse afholder vi et afrejsemøde, hvor du møder dine medrejsende og rejselederen. Vi gennemgår pakkeliste, destinationer,undervisning, fritidsaktiviteter og rejsetips, og der er tid til spørgsmål. Mødet afsluttes med mad og højskolehygge.</p>
              <p class="pt-xs text-neutral-50">Vi glæder os til at møde dig!</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="form-section pt-2xl pl-xl pr-xl mx-auto">
      <form class="flex flex-col w-full px-s py-sm">
        <h1 class="flex w-full font-display pt-m text-h2-mobile md:text-h2-desktop">Tilmeld dig ophold</h1>

        <div class="flex flex-col pt-10 py-2">
          <label for="Højskoleophold" class="font-semibold pb-xxs text-h3-mobile">Højskoleophold</label>
          <select id="Højskoleophold" name="Højskoleophold" aria-placeholder="Vælg ønsket destination her*" class="w-full px-xs py-xxs border-[0px] text-neutral-600 bg-gray-100 rounded-[5px]">
            <option value="Vælg ønsket destination her*">Vælg ønsket destination her*</option>
            <option value="sweden">Caribien, Hawaii & Mexico</option>
            <option value="usa">Costa Rica, Mexico & Colombia</option>
            <option value="sweden">Australien, New Zealand, Bali & Gili</option>
            <option value="usa">Indien, Nepal, Thailand, Vietnam & Sri Lanka</option>
            <option value="usa">Hawaii, Australien, Japan, Bali & Gili Islands</option>
            <option value="sweden">Maldiverne, Sri Lanka, Bali & Gili Islands</option>
            <option value="usa">Brasilien, Bolivia & Colombia</option>
            <option value="usa">Ecuador, Peru & Argentina</option>
            <option value="usa">Australien, Japan, Bali & Gili Islands</option>
            <option value="usa">Bali, Lombok & Gili - Sommerhøjskole</option>
          </select>
        </div>

        <div class="flex flex-col pt-10 py-2">
          <label for="Kontaktinfo" class="font-semibold pb-xxxs text-h3-mobile">Kontaktinfo</label>
          <p class="text-orange-700">*Navn skal fremgå 100% som i dit pas og dit pas skal være gyldigt i 6 måneder efter hjemkomst*</p>
          <div class="grid grid-cols-2 w-full gap-sm">
            <div class="pt-xs">
              <p class="pb-xxs">Fornavn(e) + evt. mellemnavn(e)</p>
              <input type="text" id="navn" name="navn" placeholder="Børge Møller" class="w-full px-xs py-xxs border-[0px] text-neutral-600 bg-gray-100 rounded-[5px]" />
            </div>
            <div class="pt-xs">
              <p class="pb-xxs">Efternavn</p>
              <input type="text" id="navn" name="navn" placeholder="Hansen" class="w-full px-xs py-xxs border-[0px] text-neutral-600 bg-gray-100 rounded-[5px]" />
            </div>
          </div>
          <div class="pt-xs">
            <p class="pb-xxs">Adresse</p>
            <input type="text" id="adresse" name="adresse" placeholder="Rosenørns Alle 29" class="w-full px-xs py-xxs border-[0px] text-neutral-600 bg-gray-100 rounded-[5px]" />
          </div>
          <div class="grid grid-cols-2 w-full gap-sm">
            <div class="pt-xs">
              <p class="pb-xxs">Postnummer</p>
              <input type="text" id="postnummer" name="postnummer" placeholder="1970" class="w-full px-xs py-xxs border-[0px] text-neutral-600 bg-gray-100 rounded-[5px]" />
            </div>
            <div class="pt-xs">
              <p class="pb-xxs">By</p>
              <input type="text" id="by" name="by" placeholder="Frederiksberg" class="w-full px-xs py-xxs border-[0px] text-neutral-600 bg-gray-100 rounded-[5px]" />
            </div>
          </div>
          <div class="pt-xs">
            <p class="pb-xxs">Telefonnummer</p>
            <input type="text" id="Telefonnummer" name="Telefonnummer" placeholder="+45 11 22 33" class="w-full px-xs py-xxs border-[0px] text-neutral-600 bg-gray-100 rounded-[5px]" />
          </div>
          <div class="pt-xs">
            <p class="pb-xxs">E-mail</p>
            <input type="text" id="email" name="email" placeholder="boerge.m.hansen@gmail.com" class="w-full px-xs py-xxs border-[0px] text-neutral-600 bg-gray-100 rounded-[5px]" />
          </div>
          <div class="pt-xs">
            <p class="pb-xxs">Fødselsdato</p>
            <div class="flex gap-xs">
              <select id="Dato" name="Dato" class="w-full px-xs py-xxs border-[0px] text-neutral-600 bg-gray-100 rounded-[5px]">
                <option value="Dato">Dato</option>
                <option value="01">01</option>
                <option value="02">02</option>
                <option value="03">03</option>
              </select>
              <select id="Måned" name="Måned" class="w-full px-xs py-xxs border-[0px] text-neutral-600 bg-gray-100 rounded-[5px]">
                <option value="Måned">Måned</option>
                <option value="Januar">Januar</option>
                <option value="Februar">Februar</option>
                <option value="March">March</option>
              </select>
              <select id="År" name="År" class="w-full px-xs py-xxs border-[0px] text-neutral-600 bg-gray-100 rounded-[5px]">
                <option value="År">År</option>
                <option value="2024">2024</option>
                <option value="2023">2023</option>
                <option value="2022">2022</option>
              </select>
              <select id="Køn" name="Køn" class="w-full px-xs py-xxs border-[0px] text-neutral-600 bg-gray-100 rounded-[5px]">
                <option value="Køn">Køn</option>
                <option value="Kvinder">Kvinde</option>
                <option value="Mænd">Mand</option>
              </select>
            </div>
          </div>
        </div>
        <div class="flex flex-col pt-10 py-2">
          <label for="Højskoleophold" class="font-semibold pb-xxs text-h3-mobile">Hvordan hørte du om os?</label>
          <select id="Hvordan hørte du om os" name="Hvordan hørte du om os" aria-placeholder="Vælg en mulighed her*" class="w-full px-xs py-xxs border-[0px] text-neutral-600 bg-gray-100 rounded-[5px]">
            <option value="Vælg ønsket destination her*">Vælg en mulighed her*</option>
            <option value="Google">Google</option>
            <option value="Facebook">Facebook</option>
            <option value="Instagram">Instagram</option>
            <option value="TikTock">TikTock</option>
            <option value="Tiligere elever">Tiligere elever</option>
            <option value="Tilfældig surfing">Tilfærdig surfing</option>
            <option value="Ved ikke">Ved ikke</option>
          </select>
        </div>
        <div class="flex flex-col pt-10 py-2">
          <label for="Højskoleophold" class="font-semibold pb-xxs text-h3-mobile">Bemærkning</label>
          <input type="text" id="bemærkning" name="bemærkning" placeholder="Skriv dine ønsker  eller info her." class="w-full px-xs py-xxs border-[0px] text-neutral-600 bg-gray-100 rounded-[5px]" />
        </div>
        <div>
          <p class="text-orange-700">* Disse felter skal udfyldes/vælges</p>
          <div class="flex items-baseline gap-xxs pt-xs">
            <input type="checkbox" id="checkbox" name="checkbox" value="checkbox" />
            <label for="checkbox"> Jeg har sikret mig at ovenstående informationer er 100% korrekte. (tjek lige igen for en sikkerheds skyld)</label>
          </div>
          <div class="flex items-baseline gap-xxs pt-xs">
            <input type="checkbox" id="checkbox" name="checkbox" value="checkbox" />
            <label for="checkbox"> Jeg har læst jeres privatlivspolitik og generelle bestemmelser og er indforstået med begge<span class="text-orange-700">*</span></label>
          </div>
        </div>
        <div class="mx-auto justify-center items-center flex py-sm"><Button variant="primary" size=" small" class="py-sm">Tilmeld dig ophold!</Button></div>
      </form>
    </section>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const buttons = document.querySelectorAll(".question-btn");
        const activeClass = "bg-orange-500"; // Baggrundsfarven når accordionen er åben
        const inactiveClass = "bg-orange-700"; // Baggrundsfarven når accordionen er lukket

        buttons.forEach((button) => {
          button.addEventListener("click", function () {
            const targetId = this.getAttribute("data-toggle");
            const target = document.getElementById(targetId);
            const isExpanded = target.classList.contains("hidden");

            // Luk alle andre accordioner og fjern aktiv klasse
            buttons.forEach((btn) => {
              if (btn !== this) {
                const otherTargetId = btn.getAttribute("data-toggle");
                const otherTarget = document.getElementById(otherTargetId);
                otherTarget.classList.add("hidden");
                btn.classList.remove(activeClass);
                btn.classList.add(inactiveClass); // Sørg for at knappen får den inaktive farve, når den er lukket
                btn.querySelector("svg").classList.remove("rotate-180");
              }
            });

            // Skift tilstand og aktiv/inaktiv farve
            if (isExpanded) {
              target.classList.remove("hidden");
              this.classList.remove(inactiveClass); // Fjern den inaktive farve
              this.classList.add(activeClass); // Tilføj den aktive farve
              this.querySelector("svg").classList.add("rotate-180");
            } else {
              target.classList.add("hidden");
              this.classList.remove(activeClass); // Fjern den aktive farve
              this.classList.add(inactiveClass); // Tilføj den inaktive farve
              this.querySelector("svg").classList.remove("rotate-180");
            }
          });
        });
      });
    </script>
  </section>
</MainLayout>
